@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: Roboto, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.home-title {
    color: white;
    margin-top: 10px;
}

#hero-img {
    width: 100%;
}

h4 {
    color: white;
}

.button-box {
    text-align: center;
}

.home-title {
    text-align: center;
    font-size: 2em;
}

.home-grid {
    text-align: center;
}

h2 {
    margin: 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#background {
    height: 725px;
    background-color: white;
}

body {
    background-color: #E6E5C8;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #154467;

}

main section img {
    box-sizing: border-box;
}

header {
    background-color: #154467;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #7DC4D5;
    color: white;
}

.book {
    background-color: #7DC4D5;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #7DC4D5;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #154467;
    color: white;
}

.join:hover {
    background-color: #154467;
    color: white;
}

.msg {
    background-color: #7DC4D5;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: white;
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer h3 {
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

footer {
    background-color: #154467;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}