.banner{
    text-align: center;
    width: 100%;
}

.small-images img{
    text-align: center;
    max-width: 300px;
    max-height: auto;
    border-radius: 50%;
    border: 20px solid rgb(71, 67, 67);
    

}

body{
    text-align: center;
}

div.small-images{
    background-color: gray;
}