* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

header {
    display: flex;


}
.nav{
    width: 100%;
    
}
footer {
    display: flex;
    justify-content: space-between;
}